<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xihuanicode.tlatoa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="17"
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@drawable/tlatoa_icon"
        android:label="@string/tlatoa_app_name"
        android:theme="@style/TlatoaTheme" >
        <activity
            android:name="com.xihuanicode.tlatoa.SplashActivity"
            android:label="@string/tlatoa_app_name"
            android:theme="@style/TlatoaSplashTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/tlatoa_app_name"
            android:theme="@style/TlatoaMainTheme" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:label="@string/tlatoa_app_name" />
        <activity
            android:name=".AppOverviewActivity"
            android:label="@string/tlatoa_app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/tlatoa_app_name"
            android:theme="@style/TlatoaMainTheme" />
        <activity
            android:name=".TranslationResultActivity"
            android:label="@string/tlatoa_app_name" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/tlatoa_app_name" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/tlatoa_app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/tlatoa_app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>